html {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    width: 75%;
	background-color: gray;
	box-shadow: 2px 2px 20px #eee;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
}

section {
	text-align: center;
}

button {
	text-align: center;
	font-size: 2.8vw;
	font-weight: 800;
	padding: 6px;
	font-family: sans-serif;
	background-color: #33C1FF;
	color: #000;
	border: none;
	cursor: pointer;
	border-radius: 7px;
}

button:hover {
	background-color: orange;
	color: #000;
}

h1 {
    font-size: 4.1vw;
    text-align: center;
    text-shadow: 2px 2px 7px rgb(81, 149, 228);
    color: white;
	background-color: green;
	padding: 5px;
	width: fit-content;
	margin: 5px auto;
	border-radius: 11px;
	
}
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
	box-shadow: 1px 1px 8px magenta;
}

h2 {
	font-size: 3.6vw;
	font-family: monospace;
	text-decoration: underline;
	margin: 0 auto;
}

p {
	font-family: sans-serif;
	font-size:2.0vw;
}
div {
	background-color: orange;
	padding: 5px;
	margin-top: 10px;
	border: 5px solid #fff;
	border-radius: 10px;
}

ul {
	background-color: green;
	padding: 5px;
	border-radius: 10px;
}

ol {
	background-color: green;
	padding: 5px;
	border-radius: 10px;
}

li {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-size: 2.6vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 72, 0);
    margin: 2px 0;
    padding: 2px;
    text-indent: 3px;
    list-style-type: none;
    border-radius: 5px;
	text-align: left;
	border: 2px solid #fff;
}