
html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

h1 {
    font-size: 5.2vw;
    text-shadow: 2px 2px 7px rgb(81, 149, 228);
    margin: 0 auto;
}

img {
    width: 350px;
    max-width: 35%;
    height: auto;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
}

li {
    padding: 5px;
    background-color: rgb(0, 119, 83);
    margin: 10px 0;
    border-radius: 10px;
    font-size: 2.9vw;
}

li:hover {
    background-color: rgb(0, 119, 83);

}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 238, 0);
}

div p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 2.3vw;
}



